name: Go

on:
  push:
    branches: [ staging ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build App
      run: go build -o bin/antar-jemput-bri-link -v ./cmd/main.go

    - name: Login
      env: 
        HEROKU_API_KEY: b8413970-0112-4624-88c7-55f11d353f24
      run: heroku container:push -a pure-scrubland-77616 web
